<app-toolbar></app-toolbar>
<br>
<div class="container">
  <p-card [style]="{width: auto, height: auto}" styleClass="ui-card-shadow ui-card-">

    <p-header>
      <div class="col-12 menu-card">
        Pessoa
      </div>
    </p-header>

    <form #form="ngForm">
      <div class="row">

        <div class="col-3 col-md-3">
          <div class="form-group">
            <label for="id">Código</label>
            <input name="id"
                   id="id"
                   type="text"
                   class="form-control"
                   [(ngModel)]="pessoa.id"
                   [disabled]="true">
          </div>
        </div>

        <div class="col-9 col-md-9">
          <div class="form-group">
            <label for="nome">Nome</label>
            <span class="campo-obrigatorio">*</span>
            <input name="nome"
                   id="nome"
                   required
                   autofocus
                   #nome="ngModel"
                   [ngClass]="{'is-invalid' : nome.invalid && validateForm}"
                   type="text"
                   class="form-control"
                   [(ngModel)]="pessoa.nome"
                   pTooltip="Informe o Nome"
                   tooltipPosition="top">

            <div *ngIf="nome.invalid && validateForm" class="invalid-feedback">
              Campo Obrigatório!
            </div>
          </div>

        </div>

      </div>
      <div class="row">

        <div class="col-3 col-md-3">
          <div class="form-group">
            <label for="sexo">Sexo</label>
            <select name="sexo"
                    id="sexo"
                    pTooltip="Selecione o Sexo"
                    tooltipPosition="top"
                    [(ngModel)]="pessoa.sexo"
                    class="form-control">
              <option value="m">Masculino</option>
              <option value="f">Feminino</option>
            </select>
          </div>
        </div>

        <div class="col-3 col-md-3">
          <div class="form-group">
            <label for="civil">Estado Civil</label>
            <select name="civil"
                    id="civil"
                    pTooltip="Selecione o Estado Civil"
                    tooltipPosition="top"
                    [(ngModel)]="pessoa.estadoCivil"
                    class="form-control">
              <option value="s">Solteiro(a)</option>
              <option value="c">Casado(a)</option>
              <option value="d">Divorciado(a)</option>
              <option value="v">Viúvo(a)</option>
              <option value="o">Outro(a)</option>
            </select>
          </div>
        </div>

        <div class="col-3 col-md-3">
          <div class="form-group">
            <label for="categoria">Categoria</label>
            <span class="campo-obrigatorio">*</span>
            <select name="categoria"
                    id="categoria"
                    pTooltip="Selecione a Categoria"
                    tooltipPosition="top"
                    required
                    #categoria="ngModel"
                    [ngClass]="{'is-invalid' : categoria.invalid && validateForm}"
                    [(ngModel)]="pessoa.categoria"
                    class="form-control">
              <option value="c">Cliente</option>
              <option value="v">Vendedor</option>
              <option value="f">Fornecedor</option>
            </select>
            <div *ngIf="categoria.invalid && validateForm" class="invalid-feedback">
              Campo Obrigatório!
            </div>
          </div>
        </div>

        <div class="col-3 col-md-3">
          <div class="form-group">
            <label for="tipo">Tipo de Pessoa</label>
            <span class="campo-obrigatorio">*</span>
            <select name="tipo"
                    id="tipo"
                    pTooltip="Selecione o Tipo da Pessoa"
                    tooltipPosition="top"
                    required
                    #tipo="ngModel"
                    [ngClass]="{'is-invalid' : tipo.invalid && validateForm}"
                    [(ngModel)]="pessoa.tipoPessoa"
                    class="form-control">
              <option value="f">Física</option>
              <option value="j">Jurídica</option>
            </select>
            <div *ngIf="tipo.invalid && validateForm" class="invalid-feedback">
              Campo Obrigatório!
            </div>
          </div>
        </div>

      </div>
      <div class="row">

        <div class="col-4">
          <div class="form-group">
            <label for="cpf">CPF/CNPJ</label>
            <span class="campo-obrigatorio">*</span>
            <input name="cpf"
                   id="cpf"
                   type="number"
                   required
                   #cpf="ngModel"
                   [ngClass]="{'is-invalid' : cpf.invalid && validateForm}"
                   [(ngModel)]="pessoa.cpfCnpj"
                   pTooltip="Informe o CPF/CNPJ"
                   tooltipPosition="top"
                   class="form-control">
            <div *ngIf="cpf.invalid && validateForm" class="invalid-feedback">
              Campo Obrigatório!
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label for="rg">RG</label>
            <input name="rg"
                   id="rg"
                   type="number"
                   [(ngModel)]="pessoa.rg"
                   pTooltip="Informe o RG"
                   tooltipPosition="top"
                   class="form-control">
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label for="ie">Inscrição Estadual</label>
            <input name="ie"
                   id="ie"
                   type="number"
                   [(ngModel)]="pessoa.ie"
                   pTooltip="Informe a IE"
                   tooltipPosition="top"
                   class="form-control">
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-2">
          <div class="form-group">
            <label for="cep">CEP</label>
            <span class="campo-obrigatorio">*</span>
            <p-inputMask name="cep"
                         id="cep"
                         mask="99999-999"
                         placeholder="99999-999"
                         [(ngModel)]="pessoa.cep"
                         pInputText
                         required
                         #cep="ngModel"
                         [ngClass]="{'is-invalid' : cep.invalid && validateForm}"
                         pTooltip="Informe o CEP"
                         tooltipPosition="top">
            </p-inputMask>
            <div *ngIf="cep.invalid && validateForm" class="invalid-feedback">
              Campo Obrigatório!
            </div>
          </div>
        </div>

        <div class="col-5">
          <div class="form-group">
            <label for="endereco">Endereço</label>
            <span class="campo-obrigatorio">*</span>
            <input name="endereco"
                   id="endereco"
                   type="text"
                   required
                   #endereco="ngModel"
                   [ngClass]="{'is-invalid' : endereco.invalid && validateForm}"
                   [(ngModel)]="pessoa.endereco"
                   pTooltip="Informe o Endereço"
                   tooltipPosition="top"
                   class="form-control">
            <div *ngIf="endereco.invalid && validateForm" class="invalid-feedback">
              Campo Obrigatório!
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <label for="Complemento">Complemento</label>
            <input name="complemento"
                   id="complemento"
                   type="text"
                   [(ngModel)]="pessoa.complemento"
                   pTooltip="Informe o Complemento"
                   tooltipPosition="top"
                   class="form-control">
          </div>
        </div>

        <div class="col-2">
          <div class="form-group">
            <label for="numero">Número</label>
            <input name="numero"
                   id="numero"
                   type="number"
                   [(ngModel)]="pessoa.nro"
                   pTooltip="Informe o Número"
                   tooltipPosition="top"
                   class="form-control">
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-5">
          <div class="form-group">
            <label for="cidade">Cidade</label>
            <span class="campo-obrigatorio">*</span>
            <input name="cidade"
                   id="cidade"
                   type="text"
                   required
                   #cidade="ngModel"
                   [ngClass]="{'is-invalid' : cidade.invalid && validateForm}"
                   [(ngModel)]="pessoa.cidade"
                   pTooltip="Informe a Cidade"
                   tooltipPosition="top"
                   class="form-control">
            <div *ngIf="cidade.invalid && validateForm" class="invalid-feedback">
              Campo Obrigatório!
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label for="bairro">Bairro</label>
            <span class="campo-obrigatorio">*</span>
            <input name="bairro"
                   id="bairro"
                   type="text"
                   required
                   #bairro="ngModel"
                   [ngClass]="{'is-invalid' : bairro.invalid && validateForm}"
                   [(ngModel)]="pessoa.bairro"
                   pTooltip="Informe o Bairro"
                   tooltipPosition="top"
                   class="form-control">
            <div *ngIf="bairro.invalid && validateForm" class="invalid-feedback">
              Campo Obrigatório!
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <label for="uf">UF</label>
            <span class="campo-obrigatorio">*</span>
            <input name="uf"
                   id="uf"
                   type="text"
                   required
                   maxlength="2"
                   #uf="ngModel"
                   [ngClass]="{'is-invalid' : uf.invalid && validateForm}"
                   [(ngModel)]="pessoa.uf"
                   pTooltip="Informe a UF"
                   tooltipPosition="top"
                   class="form-control">
            <div *ngIf="uf.invalid && validateForm" class="invalid-feedback">
              Campo Obrigatório!
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-2">
          <div class="form-group">
            <label for="celular">Tel. Celular</label>
            <span class="campo-obrigatorio">*</span>
            <p-inputMask name="celular"
                         id="celular"
                         mask="(99) 99999-9999"
                         placeholder="(99) 99999-9999"
                         [(ngModel)]="pessoa.telCel"
                         pInputText
                         required
                         #celular="ngModel"
                         [ngClass]="{'is-invalid' : celular.invalid && validateForm}"
                         pTooltip="Informe o Tel. Celular"
                         tooltipPosition="top">
            </p-inputMask>
            <div *ngIf="celular.invalid && validateForm" class="invalid-feedback">
              Campo Obrigatório!
            </div>
          </div>
        </div>

        <div class="col-2">
          <div class="form-group">
            <label for="telefone">Tel. Residencial</label>
            <p-inputMask name="telefone"
                         id="telefone"
                         mask="(99) 9999-9999"
                         placeholder="(99) 9999-9999"
                         [(ngModel)]="pessoa.telRes"
                         pInputText
                         pTooltip="Informe o Tel. Residencial"
                         tooltipPosition="top">
            </p-inputMask>
          </div>
        </div>

        <div class="col-8">
          <div class="form-group">
            <label for="email">Email</label>
            <input name="email"
                   id="email"
                   type="email"
                   [(ngModel)]="pessoa.email"
                   pTooltip="Informe o Email"
                   tooltipPosition="top"
                   class="form-control">
          </div>
        </div>

      </div>
      <p-footer>
        <div class="row borda-superior"></div>
        <button pButton
                type="button"
                (click)="salvar()"
                label="Salvar"
                icon="pi pi-check"
                style="margin-right: .25em">
        </button>
        <button pButton
                type="button"
                label="Voltar"
                icon="pi pi-times"
                class="ui ui-button-secondary"
                (click)="voltar()"
                style="margin-right: .25em">
        </button>
      </p-footer>
    </form>
  </p-card>
</div>
