<app-toolbar></app-toolbar>
<br>
<div class="container">
  <p-card [style]="{width: '1100px', height: '700px'}" styleClass="ui-card-shadow ui-card-">

    <p-header>
        <div class="col-12 menu-card">
          <span>Lista de Pessoas</span>
          <button type="button"
                  class="btn btn-link ripple btn-card">
            <i class="fa fa-plus-circle"></i>
            <a routerLink="/pessoas/form" href="pessoas/form" routerLinkActive="active-link">Novo Cadastro</a>
          </button>
        </div>
        <!--TODO Verificar classe "campo pesquisa"-->
        <div class="col-12 campo-pesquisa">
          <!--<i class="fa fa-2x fa-search"></i>-->
          <input class="form-control">
        </div>
    </p-header>

    <p-table [value]="pessoas" [paginator]="true" [rows]="11">
      <ng-template pTemplate="header">
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>CPF/CNPJ</th>
          <th>Categoria</th>
          <th [width]="100">Opções</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-pessoa>
        <tr>
          <td>{{pessoa.id}}</td>
          <td>{{pessoa.nome}}</td>
          <td>{{pessoa.cpfCnpj}}</td>
          <td>{{pessoa.categoria}}</td>
          <td>
            <button pTooltip="Editar"
                    tooltipPosition="top">
              <i class="fa fa-edit"></i>
            </button>

            <button pTooltip="Excluir"
                    tooltipPosition="top"
                    (click)="excluir(pessoa)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </p-card>
</div>
