<app-toolbar></app-toolbar>
<br>
<div class="container">
  <p-card [style]="{width: auto, height: auto}" styleClass="ui-card-shadow ui-card-">

    <p-header>
      <div class="col-12 menu-card">
        <span>Carros</span>
        <button type="button"
                (click)="novaCompra()"
                class="btn btn-link btn-card">
          <i class="fa fa-2x fa-plus-circle"></i>
          <span style="padding-left: 10px">Nova Compra</span>
        </button>
      </div>
    </p-header>

    <p-table #dt [value]="compras" [paginator]="true" [rows]="11" [columns]="cols">

      <ng-template pTemplate="caption">
        <div>
          <input type="text"
                 pInputText
                 placeholder="Pesquisar"
                 (input)="dt.filterGlobal($event.target.value, 'contains')"
                 class="form-control">
        </div>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
          <th width="100px">Opções</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td>{{rowData.id}}</td>
          <td *ngIf="rowData.tipo == 'n'">
            Novo
          </td>
          <td *ngIf="rowData.tipo == 's'">
            Semi-Novo
          </td>
          <td>{{rowData.marca}}</td>
          <td>{{rowData.modelo}}</td>
          <td>{{rowData.anoFabricacao}}</td>
          <td>{{rowData.precoCusto}}</td>
          <td>{{rowData.precoVenda}}</td>
          <td>{{rowData.qtde}}</td>
          <td>
            <button pTooltip="Editar"
                    class="botao-tabela"
                    tooltipPosition="top"
                    (click)="editar(rowData.id)">
              <i class="fa fa-edit"></i>
            </button>

            <button pTooltip="Excluir"
                    class="botao-tabela"
                    (click)="excluir(rowData.id)"
                    tooltipPosition="top">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </p-card>
</div>
