.teste  {
  height: 33px !important;
  width: 763px !important;
}
.autocomplete-id {
  border-right: 1px solid #CCC;
  display: inline-block;
  padding-right: 10px;
  margin-right: 10px;
  min-width: 50px;
}
