<app-toolbar></app-toolbar>
<div class="container">
  <p-card [style]="{width: '1100px', height: '300px'}" styleClass="ui-card-shadow ui-card-">
    <p-header>
      <div class="row">
        <div class="col-12 menu-card">
          Venda
        </div>
      </div>
    </p-header>
    <form>

      <div class="row">

        <div class="col-3 col-md-3">
          <div class="form-group">
            <label for="id">Código</label>
            <input name="id"
                   id="id"
                   type="text"
                   class="form-control"
                   [disabled]="true">
          </div>
        </div>

        <div class="col-9 col-md-9">
          <div class="form-group">
            <label for="cliente">Cliente</label>
            <p-autoComplete name="cliente"
                            inputId="cliente"
                            [dropdown]="true"
                            appendTo="body"
                            [forceSelection]="true">
            </p-autoComplete>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-12 col-md-12">
          <div class="form-group">
            <label for="vendedor">Vendedor</label>
            <p-autoComplete name="vendedor"
                            id="vendedor"
                            [dropdown]="true"
                            appendTo="body"
                            [forceSelection]="true">
            </p-autoComplete>
          </div>
        </div>
      </div>
    </form>
  </p-card>
</div>

<br>

<div class="container">
  <p-card [style]="{width: '1100px', height: '300px'}" styleClass="ui-card-shadow ui-card-">
    <p-header>
      <div class="row menu-card">
        <div class="col-12">
          <span>Veículos</span>
          <button type="button"
                  (click)="showDialog()"
                  class="btn btn-link ripple btn-card">
            <i class="fa fa-plus-circle"></i>
            <span>Adicionar Veículo</span>
          </button>
        </div>
      </div>
    </p-header>
  </p-card>
</div>

<p-dialog header="Veículo"
          [(visible)]="display"
          [modal]="true"
          [responsive]="true"
          [width]="1000"
          [minWidth]="500"
          [minY]="70"
          [baseZIndex]="10000">

  <div class="row">

    <div class="col-12 col-md-12 col-xl-12">
      <div class="form-group">
        <label for="veiculo">Veículo</label>
        <p-autoComplete name="veiculo"
                        inputId="veiculo"
                        appendTo="body"
                        [dropdown]="true"
                        [forceSelection]="true">
        </p-autoComplete>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-3 col-md-3">
      <div class="form-group">
        <label for="qtde">Quantidade</label>
        <input name="qtde"
               id="qtde"
               type="number"
               pTooltip="Informe a Quantidade"
               tooltipPosition="top"
               class="form-control">
      </div>
    </div>

    <div class="col-3 col-md-3">
      <div class="form-group">
        <label for="vlrUnitario">Valor Unitário</label>
        <input name="vlrUnitario"
               id="vlrUnitario"
               type="text"
               pTooltip="Informe o Valor Unitário"
               tooltipPosition="top"
               class="form-control">
      </div>
    </div>

    <div class="col-3 col-md-3">
      <div class="form-group">
        <label for="desconto">Desconto (%)</label>
        <input name="desconto"
               id="desconto"
               type="number"
               pTooltip="Informe o Desconto"
               tooltipPosition="top"
               class="form-control">
      </div>
    </div>

    <div class="col-3 col-md-3">
      <div class="form-group">
        <label for="vlrTotal">Valor Total</label>
        <input name="vlrTotal"
               id="vlrTotal"
               type="text"
               class="form-control"
               [disabled]="true">
      </div>
    </div>

  </div>


  <p-footer>
    <button pButton type="button" label="Inserir" icon="pi pi-check" style="margin-right: .25em"></button>
    <button pButton type="button" label="Fechar" icon="pi pi-times" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

