<app-toolbar></app-toolbar>
<br>
<div class="container">
  <p-card [style]="{width: auto, height: auto}" styleClass="ui-card-shadow ui-card-">
    <p-header>
      <div class="col-12 menu-card">
        Venda
      </div>
    </p-header>
    <form #form="ngForm">

      <div class="row">

        <div class="col-3 col-md-3">
          <div class="form-group">
            <label for="id">Código</label>
            <input name="id"
                   id="id"
                   type="text"
                   class="form-control"
                   [disabled]="true">
          </div>
        </div>

        <div class="col-9 col-md-9">
          <div class="form-group">
            <label for="cliente">Cliente</label>
            <span class="campo-obrigatorio">*</span>
            <p-autoComplete name="cliente"
                            inputId="cliente"
                            [dropdown]="true"
                            appendTo="body"
                            class="teste"
                            field="nome"
                            required
                            #cliente="ngModel"
                            [ngClass]="{'is-invalid' : cliente.invalid && validateForm}"
                            [style]="{'width':'95%'}"
                            [inputStyle]="{'width':'95%'}"
                            [(ngModel)]="venda.cliente"
                            [suggestions]="clienteList"
                            (completeMethod)="findClientes($event)"
                            (onClear)="venda.cliente = null"
                            [forceSelection]="true">
            </p-autoComplete>
            <div *ngIf="cliente.invalid && validateForm" class="invalid-feedback">
              Campo Obrigatório!
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-12">
          <div class="form-group">
            <label for="vendedor">Vendedor</label>
            <span class="campo-obrigatorio">*</span>
            <p-autoComplete name="vendedor"
                            id="vendedor"
                            class="teste"
                            [dropdown]="true"
                            field="nome"
                            appendTo="body"
                            [style]="{'width':'96%'}"
                            [inputStyle]="{'width':'96%'}"
                            [(ngModel)]="venda.vendedor"
                            [suggestions]="vendedorList"
                            (completeMethod)="findVendedor($event)"
                            (onClear)="venda.vendedor = null"
                            [forceSelection]="true">
            </p-autoComplete>
          </div>
        </div>
      </div>
    </form>
  </p-card>
</div>

<br>

<div class="container">
  <p-card [style]="{width: auto, height: auto}" styleClass="ui-card-shadow ui-card-">
    <p-header>
      <div class="col-12 menu-card">
        <span>Veículos</span>
        <button type="button"
                (click)="showDialog()"
                class="btn btn-link ripple btn-card">
          <i class="fa fa-plus-circle"></i>
          <span>Adicionar Veículo</span>
        </button>
      </div>
    </p-header>
    <p-table [value]="venda.itens">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>Código</th>
          <th>Veículo</th>
          <th>Quantidade</th>
          <th>Valor Unitário</th>
          <th>Desconto %</th>
          <th>Valor Total</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td>{{rowData.veiculo.id}}</td>
          <td>{{rowData.veiculo.modelo}}</td>
          <td>{{rowData.quantidade}}</td>
          <td>{{rowData.valorUnitario | moeda}}</td>
          <td *ngIf="rowData.desconto">
            {{rowData.desconto}}
          </td>
          <td *ngIf="!rowData.desconto">-</td>
          <td>{{rowData.valorTotal | moeda}}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="footer">
        <tr>
          <td class="d-none d-lg-table-cell">&nbsp;</td>
          <td class="d-none d-lg-table-cell">&nbsp;</td>
          <td class="d-none d-lg-table-cell">&nbsp;</td>
          <td class="d-none d-lg-table-cell">&nbsp;</td>
          <td class="d-none d-lg-table-cell">&nbsp;</td>
          <td>{{totalItens}}</td>
        </tr>
      </ng-template>
    </p-table>
    <p-footer>
      <div class="row borda-superior" style="margin-left: 10px">
        <button pButton
                type="button"
                label="Finalizar Venda"
                icon="pi pi-check"
                (click)="finalizarVenda()"
                >
        </button>
        <button pButton
                type="button"
                label="Voltar"
                icon="pi pi-times"
                class="ui ui-button-secondary"
                (click)="voltar()"
                style="margin-right: .25em; width: 143px">
        </button>
      </div>
    </p-footer>
  </p-card>
</div>

<p-dialog header="Veículo"
          [(visible)]="display"
          [modal]="true"
          [responsive]="true"
          *ngIf="vendaItemToAdd"
          [width]="1000"
          [minWidth]="600"
          [minY]="70"
          [baseZIndex]="10000">

  <div class="row">

    <div class="col-12 col-md-12 col-xl-12">
      <div class="form-group">
        <label for="veiculo">Veículo</label>
        <p-autoComplete name="veiculo"
                        inputId="veiculo"
                        field="modelo"
                        (onSelect)="preencheValor()"
                        [style]="{'width':'96%'}"
                        [inputStyle]="{'width':'96%'}"
                        [(ngModel)]="vendaItemToAdd.veiculo"
                        [suggestions]="veiculosList"
                        (completeMethod)="findVeiculos($event)"
                        [dropdown]="true"
                        (onClear)="vendaItemToAdd.veiculo = null"
                        [forceSelection]="true">
          <ng-template let-compra pTemplate="item">
            <span class="autocomplete-id">{{compra.modelo}}</span>
            <span>{{compra.marca}}</span>
          </ng-template>
        </p-autoComplete>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-3 col-md-3">
      <div class="form-group">
        <label for="qtde">Quantidade</label>
        <span *ngIf="mostraQtdeDisponivel">: (Disponível {{vendaItemToAdd.veiculo.qtde}})</span>
        <input name="qtde"
               id="qtde"
               (blur)="calculaTotalProduto($event)"
               [(ngModel)]="vendaItemToAdd.quantidade"
               type="number"
               pTooltip="Informe a Quantidade"
               tooltipPosition="top"
               class="form-control">
      </div>
    </div>

    <div class="col-3 col-md-3">
      <div class="form-group">
        <label for="vlrUnitario">Valor Unitário</label>
        <input name="vlrUnitario"
               id="vlrUnitario"
               [(ngModel)]="vendaItemToAdd.valorUnitario"
               type="text"
               pTooltip="Informe o Valor Unitário"
               tooltipPosition="top"
               class="form-control">
      </div>
    </div>

    <div class="col-3 col-md-3">
      <div class="form-group">
        <label for="desconto">Desconto (%)</label>
        <input name="desconto"
               id="desconto"
               (blur)="calculaTotalProduto($event)"
               [(ngModel)]="vendaItemToAdd.desconto"
               type="number"
               pTooltip="Informe o Desconto"
               tooltipPosition="top"
               class="form-control">
      </div>
    </div>

    <div class="col-3 col-md-3">
      <div class="form-group">
        <label for="vlrTotal">Valor Total</label>
        <input name="vlrTotal"
               id="vlrTotal"
               type="text"
               [(ngModel)]="vendaItemToAdd.valorTotal"
               class="form-control"
               [disabled]="true">
      </div>
    </div>
  </div>

  <p-footer>
    <button pButton
            type="button"
            label="Inserir"
            (click)="inserirTable()"
            icon="pi pi-check"
            style="margin-right: .25em">
    </button>
    <button pButton
            type="button"
            label="Voltar"
            icon="pi pi-times"
            class="ui-button-secondary"
            (click)="fechar()"></button>
  </p-footer>
</p-dialog>

