<app-toolbar></app-toolbar>
<br>
<div class="container">
  <p-card [style]="{width: '1100px', height: '330px'}" styleClass="ui-card-shadow ui-card-">
    <p-header>
      <div class="col-12 menu-card">
        Veículo
      </div>
    </p-header>
    <form>

      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label for="id">Código</label>
            <input name="id"
                   type="text"
                   id="id"
                   [disabled]="true"
                   class="form-control"
                   [(ngModel)]="compra.id">
          </div>
        </div>

        <div class="col-5">
          <div class="form-group">
            <label for="marca">Marca</label>
            <span class="campo-obrigatorio">*</span>
            <input name="marca"
                   type="text"
                   id="marca"
                   [(ngModel)]="compra.marca"
                   pTooltip="Informe a marca"
                   tooltipPosition="top"
                   class="form-control">
          </div>
        </div>

        <div class="col-5">
          <div class="form-group">
            <label for="modelo">Modelo</label>
            <span class="campo-obrigatorio">*</span>
            <input name="modelo"
                   type="text"
                   id="modelo"
                   [(ngModel)]="compra.modelo"
                   pTooltip="Informe o modelo"
                   tooltipPosition="top"
                   class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-3 col-md-3">
          <div class="form-group">
            <label for="anoFab">Ano Fabricação</label>
            <span class="campo-obrigatorio">*</span>
            <input name="anoFab"
                   type="text"
                   id="anoFab"
                   [(ngModel)]="compra.anoFabricacao"
                   pTooltip="Informe o Ano de Fabricação"
                   tooltipPosition="top"
                   class="form-control">
          </div>
        </div>

        <div class="col-3 col-md-3">
          <div class="form-group">
            <label for="anoMod">Ano Modelo</label>
            <input name="anoMod"
                   type="number"
                   id="anoMod"
                   [(ngModel)]="compra.anoModelo"
                   pTooltip="Informe o Ano do Modelo"
                   tooltipPosition="top"
                   class="form-control">
          </div>
        </div>

        <div class="col-3 col-md-3">
          <div class="form-group">
            <label for="cor">Cor</label>
            <input name="cor"
                   type="text"
                   id="cor"
                   [(ngModel)]="compra.cor"
                   pTooltip="Informe a cor"
                   tooltipPosition="top"
                   class="form-control">
          </div>
        </div>

        <div class="col-3 col-md-3">
          <div class="form-group">
            <label for="combustivel">Combustível</label>
            <select class="custom-select"
                    [(ngModel)]="compra.combustivel"
                    pTooltip="Selecione o tipo de Combustível"
                    tooltipPosition="top"
                    id="combustivel">
              <option value="f">Flex</option>
              <option value="tf">Total Flex</option>
              <option value="d">Diesel</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4 col-md-4">
          <div class="form-group">
            <label for="tipo">Tipo</label>
            <span class="campo-obrigatorio">*</span>
            <select class="custom-select"
                    id="tipo"
                    [(ngModel)]="compra.tipo"
                    pTooltip="Selecione o Tipo"
                    tooltipPosition="top">
              <option value="n">Novo</option>
              <option value="s">Semi-Novo</option>
            </select>
          </div>
        </div>

        <div class="col-4 col-md-4">
          <div class="form-group">
            <label for="categoria">Categoria</label>
            <span class="campo-obrigatorio">*</span>
            <select class="custom-select"
                    id="categoria"
                    [(ngModel)]="compra.categoria"
                    pTooltip="Selecione a Categoria"
                    tooltipPosition="top">
              <option value="cr">Carro</option>
              <option value="m">Moto</option>
              <option value="ca">Caminhão</option>
            </select>
          </div>
        </div>

        <div class="col-4 col-md-4">
          <div class="form-group">
            <label for="chassi">Chassi</label>
            <input name="chassi"
                   type="text"
                   id="chassi"
                   [(ngModel)]="compra.chassi"
                   pTooltip="Informe o Nro do Chassi"
                   tooltipPosition="top"
                   class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4">

        </div>
      </div>
    </form>
  </p-card>
</div>

<br>

<div class="container">
  <p-card [style]="{body:'' ,width: '1100px', height: '310px'}" styleClass="ui-card-shadow ui-card-">
    <p-header>
      <div class="col-12 menu-card">
        Detalhes
      </div>
    </p-header>
    <form>

      <div class="row">
        <div class="col-2 col-md-2 col-xl-2">
          <div class="form-group">
            <label for="placa">Placa</label>
            <p-inputMask mask="AAA-1111"
                         characterPattern="[А-Яа-я]"
                         placeholder="99/99/9999"
                         slotChar="AAA-1111"
                         [(ngModel)]="compra.placa"
                         pTooltip="Informe a Placa"
                         tooltipPosition="top"
                         [disabled]="false"
            pInputText>
            </p-inputMask>
          </div>
        </div>

        <div class="col-2 col-xl-2">
          <div class="form-group">
            <label for="dtCompra">Data da Compra</label>
            <p-calendar name="dtCompra"
                        id="dtCompra"
                        [(ngModel)]="compra.dataCompra"
                        pTooltip="Informe a Data da Compra"
                        tooltipPosition="top"
                        dataType="string"
                        dateFormat="dd/mm/yy">
            </p-calendar>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label for="km">Kilometragem</label>
            <input name="km"
                   id="km"
                   type="number"
                   class="form-control"
                   [(ngModel)]="compra.km"
                   pTooltip="Informe a Kilometragem"
                   tooltipPosition="top">
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label>Origem</label>
            <input name="origem"
                   id="origem"
                   type="text"
                   class="form-control"
                   [(ngModel)]="compra.origem"
                   pTooltip="Informe a origem do Veículo"
                   tooltipPosition="top"
                   [disabled]="true">
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-3 col-md-3">
          <div class="form-group">
            <label for="custo">Preço de Custo</label>
            <span class="campo-obrigatorio">*</span>
            <input name="custo"
                   id="custo"
                   type="text"
                   class="form-control"
                   [(ngModel)]="compra.precoCusto"
                   pTooltip="Informe o Preço de Custo"
                   tooltipPosition="top">
          </div>
        </div>

        <div class="col-3 col-md-3">
          <div class="form-group">
            <label for="venda">Preço de Venda</label>
            <span class="campo-obrigatorio">*</span>
            <input name="venda"
                   id="venda"
                   type="text"
                   class="form-control"
                   [(ngModel)]="compra.precoVenda"
                   pTooltip="Informe o Preço de Venda"
                   tooltipPosition="top">
          </div>
        </div>

        <div class="col-3 col-md-3">
          <div class="form-group">
            <label for="lucro">Estimativa Lucro</label>
            <input name="lucro"
                   id="lucro"
                   type="text"
                   class="form-control"
                   [(ngModel)]="compra.lucro"
                   [disabled]="true">
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <label for="qtde">Quantidade</label>
            <span class="campo-obrigatorio">*</span>
            <input name="qtde"
                   id="qtde"
                   type="number"
                   class="form-control"
                   [(ngModel)]="compra.qtde"
                   pTooltip="Informe a Quantidade Adquirida"
                   tooltipPosition="top">
          </div>
        </div>
      </div>

    </form>
    <p-footer>
      <div class="row borda-superior"></div>
      <button pButton type="button" label="Salvar" icon="pi pi-check" style="margin-right: .25em" (click)="salvar()"></button>
      <button pButton type="button" label="Voltar" icon="pi pi-times" class="ui-button-secondary" (click)="voltar()"></button>
    </p-footer>
  </p-card>
</div>

