<app-toolbar></app-toolbar>
<br>
<div class="container">
  <p-card [style]="{width: '1100px', height: '700px'}" styleClass="ui-card-shadow ui-card-">

    <p-header>
      <div class="col-12 menu-card">
        <span>Lista de Carros</span>
        <button type="button"
                class="btn btn-link btn-card">
          <i class="fa fa-plus-circle"></i>
          <a routerLink="/compras/form" routerLinkActive="active-link" href="compras/form">Nova Compra</a>
        </button>
      </div>
    </p-header>

    <p-table #dt [value]="compras" [paginator]="true" [rows]="11" [columns]="cols">

      <ng-template pTemplate="caption">
        <div>
          <i class="fa fa-search"></i>
          <input type="text"
                 pInputText
                 placeholder="Pesquisar"
                 (input)="dt.filterGlobal($event.target.value, 'contains')"
                 style="width: auto">
        </div>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
          <th width="100px">Opções</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td>{{rowData.id}}</td>
          <td>{{rowData.tipo}}</td>
          <td>{{rowData.marca}}</td>
          <td>{{rowData.modelo}}</td>
          <td>{{rowData.anoFabricacao}}</td>
          <td>{{rowData.precoCusto}}</td>
          <td>{{rowData.precoVenda}}</td>
          <td>{{rowData.qtde}}</td>
          <td>
            <button pTooltip="Editar"
                    tooltipPosition="top"
                    (click)="editar(rowData.id)">
              <i class="fa fa-edit"></i>
            </button>

            <button pTooltip="Excluir"
                    (click)="excluir(rowData.compra)"
                    tooltipPosition="top">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </p-card>
</div>
