<app-toolbar></app-toolbar>
<br>
<div class="container">
  <p-card [style]="{width: auto, height: auto}" styleClass="ui-card-shadow ui-card-">
    <p-header>
      <div class="col-12 menu-card">
        Veículo
      </div>
    </p-header>
    <form #form="ngForm">

      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label for="id">Código</label>
            <input name="id"
                   type="text"
                   id="id"
                   [disabled]="true"
                   class="form-control"
                   [(ngModel)]="compra.id">
          </div>
        </div>

        <div class="col-5">
          <div class="form-group">
            <label for="marca">Marca</label>
            <span class="campo-obrigatorio">*</span>
            <input name="marca"
                   type="text"
                   id="marca"
                   autofocus
                   required
                   #marca="ngModel"
                   [ngClass]="{'is-invalid' : marca.invalid && validateForm}"
                   [(ngModel)]="compra.marca"
                   pTooltip="Informe a marca"
                   tooltipPosition="top"
                   class="form-control">
            <div *ngIf="marca.invalid && validateForm" class="invalid-feedback">
              Campo Obrigatório!
            </div>
          </div>
        </div>

        <div class="col-5">
          <div class="form-group">
            <label for="modelo">Modelo</label>
            <span class="campo-obrigatorio">*</span>
            <input name="modelo"
                   type="text"
                   id="modelo"
                   required
                   #modelo="ngModel"
                   [ngClass]="{'is-invalid' : modelo.invalid && validateForm}"
                   [(ngModel)]="compra.modelo"
                   pTooltip="Informe o modelo"
                   tooltipPosition="top"
                   class="form-control">
            <div *ngIf="modelo.invalid && validateForm" class="invalid-feedback">
              Campo Obrigatório!
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-3 col-md-3">
          <div class="form-group">
            <label for="anoFab">Ano Fabricação</label>
            <span class="campo-obrigatorio">*</span>
            <input name="anoFab"
                   type="text"
                   id="anoFab"
                   required
                   maxlength="4"
                   #anoFab="ngModel"
                   [ngClass]="{'is-invalid' : anoFab.invalid && validateForm}"
                   [(ngModel)]="compra.anoFabricacao"
                   pTooltip="Informe o Ano de Fabricação"
                   tooltipPosition="top"
                   class="form-control">
            <div *ngIf="anoFab.invalid && validateForm" class="invalid-feedback">
              Campo Obrigatório!
            </div>
          </div>
        </div>

        <div class="col-3 col-md-3">
          <div class="form-group">
            <label for="anoMod">Ano Modelo</label>
            <input name="anoMod"
                   type="number"
                   id="anoMod"
                   [(ngModel)]="compra.anoModelo"
                   pTooltip="Informe o Ano do Modelo"
                   tooltipPosition="top"
                   class="form-control">
          </div>
        </div>

        <div class="col-3 col-md-3">
          <div class="form-group">
            <label for="cor">Cor</label>
            <input name="cor"
                   type="text"
                   id="cor"
                   [(ngModel)]="compra.cor"
                   pTooltip="Informe a cor"
                   tooltipPosition="top"
                   class="form-control">
          </div>
        </div>

        <div class="col-3 col-md-3">
          <div class="form-group">
            <label for="combustivel">Combustível</label>
            <select id="combustivel"
                    name="combustivel"
                    pTooltip="Selecione o tipo de Combustível"
                    tooltipPosition="top"
                    [(ngModel)]="compra.combustivel"
                    class="form-control">
              <option value="f">Flex</option>
              <option value="t">Total Flex</option>
              <option value="d">Diesel</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4 col-md-4">
          <div class="form-group">
            <label for="tipo">Tipo</label>
            <span class="campo-obrigatorio">*</span>
            <select id="tipo"
                    name="tipo"
                    pTooltip="Selecione o Tipo"
                    tooltipPosition="top"
                    required
                    #tipo="ngModel"
                    [ngClass]="{'is-invalid' : tipo.invalid && validateForm}"
                    [(ngModel)]="compra.tipo"
                    class="form-control">
              <option value="n">Novo</option>
              <option value="s">Semi-Novo</option>
            </select>
            <div *ngIf="tipo.invalid && validateForm" class="invalid-feedback">
              Campo Obrigatório!
            </div>
          </div>
        </div>

        <div class="col-4 col-md-4">
          <div class="form-group">
            <label for="categoria">Categoria</label>
            <span class="campo-obrigatorio">*</span>
            <select id="categoria"
                    name="categoria"
                    [(ngModel)]="compra.categoria"
                    pTooltip="Selecione a Categoria"
                    tooltipPosition="top"
                    required
                    #categoria="ngModel"
                    [ngClass]="{'is-invalid' : categoria.invalid && validateForm}"
                    pInputText
                    class="form-control">
              <option value="c">Carro</option>
              <option value="m">Moto</option>
              <option value="t">Caminhão</option>
            </select>
            <div *ngIf="categoria.invalid && validateForm" class="invalid-feedback">
              Campo Obrigatório!
            </div>
          </div>
        </div>

        <div class="col-4 col-md-4">
          <div class="form-group">
            <label for="chassi">Chassi</label>
            <input name="chassi"
                   type="text"
                   id="chassi"
                   #chassi="ngModel"
                   [ngClass]="{'is-invalid' : chassi.invalid && validateForm}"
                   minlength="17"
                   maxlength="17"
                   [(ngModel)]="compra.chassi"
                   pTooltip="Informe o Nro do Chassi"
                   tooltipPosition="top"
                   class="form-control">
            <div *ngIf="categoria.invalid && validateForm" class="invalid-feedback">
              Necessário ter 17 caracteres!
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4">

        </div>
      </div>
    </form>
  </p-card>
</div>

<br>

<div class="container">
  <p-card [style]="{width: auto, height: auto}" styleClass="ui-card-shadow ui-card-">
    <p-header>
      <div class="col-12 menu-card">
        Detalhes
      </div>
    </p-header>
    <form>

      <div class="row">
        <div class="col-2 col-md-2 col-xl-2">
          <div class="form-group">
            <label for="placa">Placa</label>
            <p-inputMask name="placa"
                         id="placa"
                         mask="aaa-9999"
                         placeholder="ABC-1234"
                         [style]="{'width':'100%'}"
                         [(ngModel)]="compra.placa"
                         pTooltip="Informe a Placa"
                         tooltipPosition="top"
                         pInputText>
            </p-inputMask>
          </div>
        </div>

        <div class="col-2 col-xl-2">
          <div class="form-group">
            <label for="dtCompra">Data da Compra</label>
            <p-calendar name="dtCompra"
                        id="dtCompra"
                        [(ngModel)]="compra.dataCompra"
                        pTooltip="Informe a Data da Compra"
                        tooltipPosition="top"
                        [style]="{'width':'100%'}"
                        [inputStyle]="{'width':'100%'}"
                        dataType="string"
                        dateFormat="dd/mm/yy">
            </p-calendar>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label for="km">Kilometragem</label>
            <input name="km"
                   id="km"
                   type="number"
                   class="form-control"
                   [(ngModel)]="compra.km"
                   pTooltip="Informe a Kilometragem"
                   tooltipPosition="top">
          </div>
        </div>

        <div class="col-sm-4 col-md-4">
          <div class="form-group">
            <label for="fornecedor">Fornecedor</label>
            <span class="campo-obrigatorio">*</span>
            <p-autoComplete name="fornecedor"
                            inputId="fornecedor"
                            appendTo="body"
                            field="nome"
                            #fornecedor="ngModel"
                            required
                            [ngClass]="{ 'is-invalid' : fornecedor.invalid && validateForm}"
                            [style]="{'width':'88%'}"
                            [inputStyle]="{'width':'88%'}"
                            [(ngModel)]="compra.fornecedor"
                            [dropdown]="true"
                            [suggestions]="fornecedorList"
                            (completeMethod)="findFornecedor($event)"
                            (onClear)="compra.fornecedor = null"
                            [forceSelection]="true">
            </p-autoComplete>
            <div *ngIf="fornecedor.invalid && validateForm" class="invalid-feedback">
              Campo Obrigatório!
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-3 col-md-3">
          <div class="form-group">
            <label for="custo">Preço de Custo</label>
            <span class="campo-obrigatorio">*</span>
            <input name="custo"
                   id="custo"
                   type="text"
                   class="form-control"
                   required
                   #custo="ngModel"
                   [ngClass]="{'is-invalid' : custo.invalid && validateForm}"
                   [(ngModel)]="compra.precoCusto"
                   pTooltip="Informe o Preço de Custo"
                   tooltipPosition="top">
            <div *ngIf="custo.invalid && validateForm" class="invalid-feedback">
              Campo Obrigatório!
            </div>
          </div>
        </div>

        <div class="col-3 col-md-3">
          <div class="form-group">
            <label for="venda">Preço de Venda</label>
            <span class="campo-obrigatorio">*</span>
            <input name="venda"
                   id="venda"
                   type="text"
                   class="form-control"
                   required
                   #venda="ngModel"
                   [ngClass]="{'is-invalid' : venda.invalid && validateForm}"
                   [(ngModel)]="compra.precoVenda"
                   pTooltip="Informe o Preço de Venda"
                   tooltipPosition="top">
            <div *ngIf="venda.invalid && validateForm" class="invalid-feedback">
              Campo Obrigatório!
            </div>
          </div>
        </div>

        <div class="col-3 col-md-3">
          <div class="form-group">
            <label for="lucro">Estimativa Lucro</label>
            <input name="lucro"
                   id="lucro"
                   type="text"
                   class="form-control"
                   [(ngModel)]="compra.lucro"
                   [disabled]="true">
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <label for="qtde">Quantidade</label>
            <span class="campo-obrigatorio">*</span>
            <input name="qtde"
                   id="qtde"
                   type="number"
                   class="form-control"
                   required
                   #qtde="ngModel"
                   [ngClass]="{'is-invalid' : qtde.invalid && validateForm}"
                   [(ngModel)]="compra.qtde"
                   pTooltip="Informe a Quantidade Adquirida"
                   tooltipPosition="top">
            <div *ngIf="qtde.invalid && validateForm" class="invalid-feedback">
              Campo Obrigatório!
            </div>
          </div>
        </div>
      </div>

    </form>
    <p-footer>
      <div class="row borda-superior"></div>
      <button pButton type="button" label="Salvar" icon="pi pi-check" style="margin-right: .25em" (click)="salvar()"></button>
      <button pButton type="button" label="Voltar" icon="pi pi-times" class="ui-button-secondary" (click)="voltar()"></button>
    </p-footer>
  </p-card>
</div>

