<p-sidebar [(visible)]="display" [baseZIndex]="1000" [showCloseIcon]="false">

  <div class="row">
    <div class="ui-grid-col-12 menu-principal">
        <span>Menu Principal</span>
    </div>
  </div>

  <div class="row">
    <div class="ui-grid-col-12">
      <li class="white-text" >
        <i class="fa fa-2x fa-pencil"></i>
        <a routerLink="/pessoas" href="pessoas" routerLinkActive="active-link">Cadastro de Pessoa</a>
      </li>
    </div>
  </div>

  <div class="row">
    <div class="ui-grid-col-12">
      <li class="white-text" >
        <i class="fa fa-2x fa-exchange"></i>
        <a routerLink="/compras" href="compras">Compras</a>
      </li>
    </div>
  </div>

  <div class="row">
    <div class="ui-grid-col-12">
      <li class="white-text">
        <i class="fa fa-2x fa-dollar"></i>
        <a routerLink="/vendas" routerLinkActive="active-link" href="vendas">Vendas</a>
      </li>
    </div>
  </div>

</p-sidebar>

<button type="button" class="btn btn-light" (click)="display = true">
  <i class="fa fa-bars"></i>
</button>

