.corpo {
  background-color: #606060 !important;
}
.white-text {
  text-decoration: none;
  list-style-type: none;
  margin-left: 15px;
  color: #606060;
  line-height: 60px;
}

.white-text a {
  text-decoration: none;
  color: #606060;
  font-size: 1.2rem;
  margin-left: 30px;
  font-family: FontAwesome;
  opacity: 0.9;
  text-align: right;
}
.white-text i{
  opacity: 0.8;
  margin-left: 10px;
}
.mouseOver:hover{
  background-color: #dededee0;
}
.menu-principal {
  font-size: 1.5rem;
  font-family: FontAwesome;
  text-align: center;
  border-bottom: rgba(174, 179, 164, 0.22) 1px solid;
  padding: 15px;
  margin-top: 0;
}
.menu-selecionado {
  color: blue;
}
.botao-menu {
  background-color: #2e405e;
  border: solid #2e405e;
}
.sidenav {
  background-color: #fbfbfb !important;
}
.ui-grid-col-12 {
  border-bottom: rgba(214, 219, 204, 0.6) 1px solid;
}
