body {
  background-color: rgba(96, 96, 96, 0.17) !important;
}
.menu-card {
  border-bottom: #cac5c5 1px solid;
  font-size: 1.7rem;
  padding: 13px;
  width: 100%;
  position: relative;
  padding-left: 40px !important;
  font-family: Arial, Helvetica, sans-serif, serif;
  color: #787c80;
}
.btn-card {
  padding-left: 24px !important;
  font-family: Arial, Helvetica, sans-serif, serif;
  color: #787c80 !important;
  float: right;
}
.ajuste-complete{
  padding: 0.510em;
}
.borda-inferior {
  border-bottom: 1px solid #d5d5d5;
  padding-top: 10px;
}
.borda-superior {
  border-top: 1px solid #d5d5d5;
  padding-top: 10px
}
.teste {
  padding-bottom: 1000px;
}
.campo-obrigatorio {
  padding-left: 5px;
}
.campo-pesquisa {
  border-color: unset !important;
  border: none !important;
  padding-top: 10px;
}
p-table th {
  text-align: center;
  color: #606067;
  color: white !important;
  background-color: #4c689aab !important;
}
p-table td {
  text-align: center;
  border: none !important;
  border-bottom: black solid 1px;
}
.pesquisa-table {
  border: none !important;
  background-color: unset !important;
}
form {
  padding-top: 8px;
  padding-left: 22px;
  padding-right: 22px;
}
.botao-tabela {
  border: #d2c3c3 solid 1px;
  background-color: unset;
  margin-right: 8px;
}
