body {
  background-color: rgba(96, 96, 96, 0.17) !important;
}
.menu-card {
  border-bottom: #cac5c5 1px solid;
  font-size: 1.7rem;
  padding: 13px;
  width: 100%;
  position: relative;
  padding-left: 40px !important;
  font-family: Arial, Helvetica, sans-serif, serif;
  color: #787c80;
}
.btn-card {
  font-size: 0.8em;
  padding-left: 24px !important;
  font-family: Arial, Helvetica, sans-serif, serif;
  color: #787c80;
  float: right;
}
.ajuste-complete{
  padding: 0.510em;
}
.borda-inferior {
  border-bottom: 1px solid #d5d5d5;
  padding-top: 10px;
}
.borda-superior {
  border-top: 1px solid #d5d5d5;
  padding-top: 10px
}
.teste {
  padding-bottom: 1000px;
}
.campo-obrigatorio {
  padding-left: 5px;
}
.campo-pesquisa {
  border-color: unset !important;
  border: none !important;
  padding-top: 10px;
}
